.seguimiento-container {
  text-align: center;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
}

/* ========= MODAL ========== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 35px 45px;
  border-radius: 12px;
  text-align: center;
  width: 420px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.modal-content h3 {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 600;
}

.input-pedido {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #c9c9c9;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Botones */
.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.btn-confirmar {
  background: #42a5a5;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-confirmar:hover {
  background: #338c8c;
}

.btn-cancelar {
  background: #d9534f;
  border: none;
  padding: 10px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cancelar:hover {
  background: #b7423d;
}
